.BaseLayer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30% 30% 20% 20%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.BaseLayerRacingStripe {
    position: absolute;
    height: 100%;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.RoofContainerLayer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #10123f;
}

.WindowLayer {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    top: 40%;
    border-radius: 5px;
    background-color: black;
}

.RoofLayer {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background-color: transparent;
    border-radius: 1px;
}

.RoofLayerStripeContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.RoofLayerRacingStripe {
    position: absolute;
    height: 100%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.RoofLineTopLeft {
    position: absolute;
    left: 0;
    top: -10%;
    height: 10%;
    width: 50%;
    transform-origin: top left;
    transform: rotate(45deg); 
}

.RoofLineTopRight {
    position: absolute;
    right: 0;
    top: -10%;
    height: 10%;
    width: 50%;
    transform-origin: top right;
    transform: rotate(-45deg);
}

.RoofLineBottomLeft {
    position: absolute;
    left: 0;
    height: 10%;
    bottom: -10%;
    width: 50%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
}

.RoofLineBottomRight {
    position: absolute;
    right: 0;
    bottom: -10%;
    height: 10%;
    width: 50%;
    transform-origin: bottom right;
    transform: rotate(45deg);
}

.HeadLightLeft {
    position: absolute;
    top: 2%;
    left: 15%;
    width: 5%;
    height: 10%;
    transform: rotate(35deg);
    border-radius: 50%;
}

.HeadLightRight {
    position: absolute;
    top: 2%;
    right: 15%;
    width: 5%;
    height: 10%;
    transform: rotate(-35deg);
    border-radius: 50%;
}

