.OuterMove {
    transition: all 200ms;
}

.OuterMoveLeft {
    transform: translateX(0%);
}

.OuterMoveCenter {
    transform: translateX(50%); 
}

.OuterMoveRight {
    transform: translateX(100%); 
}

.InnerMove{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: inherit;
}

.InnerMoveLeft {
    transform: translateX(0%);
}

.InnerMoveCenter {
    transform: translateX(-50%); 
}

.InnerMoveRight {
    transform: translateX(-100%);
}

.Padding {
    height: 50%;
    width: 40%;
}
