.Wrapper {
    display: flex;
    transition: all 200ms;
    height: 100%;
   // align-items: center;
    background-color: blue;
}

.WrapperLeft {
    transform: translateX(0%);
}

.WrapperCenter {
    transform: translateX(50%); 
}

.WrapperRight {
    transform: translateX(100%); 
}

.Car {
//    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: calc(1/3);
    transition: inherit;
    background-color: green;
}

.CarLeft {
    transform: translateX(0%);
}

.CarCenter {
    transform: translateX(-50%) translateY(100%); 
}

.CarRight {
    transform: translateX(-100%) translateY(-100%);
}

