.Wrapper {
    display: flex;
    transition: all 200ms;
    height: 100%;
    align-items: center;
}

.WrapperLeft {
    transform: translateX(0%);
}

.WrapperCenter {
    transform: translateX(50%);
}

.WrapperRight {
    transform: translateX(100%)
}

.Player {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: calc(1/3);
    transition: inherit;
    background-color: green;
}

.PlayerLeft {
    transform: translateX(0%);
}

.PlayerCenter {
    transform: translateX(-50%);
}

.PlayerRight {
    transform: translatex(-100%);
}

