.Road {
    position: relative;
    height: 100%; 
    background-color: #365984;
    border-width: 0 6px 0 6px;
    border-color: #a9c0d0;
    border-style: solid;
}

.Padding {
    height: 100%;
    width: 80%;
}

.RoadLineContainer {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.RoadLine {
    width: calc(100% /3);
    height: 300%;
    border-right: 2px dashed white;
    animation-name: RoadLine;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes RoadLine{
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0%);
    }
}
 


